html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 30px;
  background: #f7f7f7;
}

.alert-custom {
  margin: -$navbar-margin-bottom 0 $navbar-margin-bottom;
  border-radius: 0;
  animation: 1s slideInDown forwards ease-in-out, 1s slideInDown 5s reverse forwards ease-in-out;
  transform: rotateX(90deg);
  transform-origin: 50% 0;
  opacity: .2;
  position: relative;
  z-index: -1;
}

.table tbody > tr > td {
  vertical-align: middle;
}

.table-project {
  background: #fff;
}

.form-grade select {
  background: $brand-info;
  border: 1px solid $brand-primary;
  box-shadow: none;
  color: #fff;
  outline: 0;
}

.form-grade option {
  padding: .6em;
}

.form-grade select:focus {
  box-shadow: 0 !important;
}

.form-grade option:checked {
  background: linear-gradient(90deg, $brand-primary 10%, lighten($brand-primary, 6%) 90%);
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30px;
}